# Frontend Firebase Web Configuration
VITE_FIREBASE_API_KEY=AIzaSyBYFnTFyz8y96CLQdD_zdabg7nTxMg8QO0
VITE_FIREBASE_AUTH_DOMAIN=interniq-5a405.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=interniq-5a405
VITE_FIREBASE_STORAGE_BUCKET=interniq-5a405.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=805720697730
VITE_FIREBASE_APP_ID=1:805720697730:web:96106b1d06a72bd207bd9b
VITE_FIREBASE_MEASUREMENT_ID=G-99CV4YDS3W

# Backend NestJS Firebase Admin Credentials
FIREBASE_PROJECT_ID=interniq-5a405
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
